[Unit]
Description=mailMan is a simple headless IMAP client that filters your mailbox. It is implemented as systemd service, so that it can run without a user logged in.
After=network.target

[Service]
ExecStart=/usr/local/bin/mailMan_imap_service
Restart=on-failure
Environment=RUST_LOG=info
Environment=HOME=<HOME>
User=<USER>
WorkingDirectory=<HOME>/.mailMan

[Install]
WantedBy=multi-user.target
